{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="s1" align="center">St.Joseph's College Devagiri</h1>
    <h2>Autonomous</h2>
    <h4 align="center">HELLO</h4>
    <img src="{% static 'images/img.jpg' %}" height="400" width="700" >
    <table>
        <tr>
            <th>NAME</th>
            <th>CLASS</th>
        </tr>
    </table>
</body>
</html>